/*全局常用css */

 /*基础类*/
.bg-white{
    background-color:#fff;
}
.hidden, [hidden] {
    display: none !important;
}
.disabled {
    cursor             : not-allowed;
    pointer-events     : none;
    opacity            : 0.65;
    filter             : alpha(opacity=65);
    -webkit-box-shadow : none;
    box-shadow         : none;
}
.pull-right{
    float:right !important;
}
.pull-left{
    float:left !important;
}
.clearfix :before,.clearfix :after{
    content: " ";
    display: table;
}
.clearfix :after{
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align:center;
}
.text-vertical{
    vertical-align: middle;
}
.text-right{
    text-align:right;
}
.text-left{
    text-align:left;
}
.text-blue{
    color:#20a0ff;
}
.text-red{
    color:#ff4949;
}
.text-gray{
    color:#D3DCE6;
}
.text-yellow{
    color:#F7BA2A;
}
.text-green{
    color:#13CE66;
}
